In [43]:
from string import punctuation
import re

def clean(s):
    res = re.sub(r'(\w)(\()(\w)', '\g<1> \g<2>\g<3>', s)
    res = re.sub(r"\b\d+\b", "", res)
    res = re.sub(r'(\w)([),.:;]+)(\w)', '\g<1>\g<2> \g<3>', res)
    res = re.sub(r'(\w)(\.\()(\w)', '\g<1>. (\g<3>', res)
    res = re.sub(r'\s+', ' ', res)
    res = res.strip()
    return res

def stripclean(arr):
    res = [s.strip().strip(punctuation) for s in arr]
    return ' '.join([i for i in res if i != ''])

def dummy(x):
    # stupid workaround to deep copy array cause i couldn't get it to work properly
    return [s for s in x]

In [1]:
def diff_cost(orig, label):
    if not label.startswith(orig):
        return float('inf')
    return len(label) - len(orig)

In [12]:
len(df[df['lbl']==0]['text'].unique())
(df[df['lbl']==2]['text'].unique())

array(['Ngày : 11/08/2020 08:06', 'Ngày bán: 15/08/2020 11:41',
       'Ngày: 21/05/2020', ..., 'Ngày bán: 11/08/2020 19:07',
       'Ngày bán: 14/08/2020 07:56', '07/09/2020 21:05:14'], dtype=object)

In [63]:
import pandas as pd 

df = pd.read_csv('data-full.csv')
df.head()

                      text  lbl
0            MINIMART ANAN    0
1  Chợ Sủi Phú Thị Gia Lâm    1
2  Ngày : 11/08/2020 08:06    2
3               Tổng tiền:    3
4                   74,000    3

In [65]:
df['text'] = df[df['text']!=1]['text'].apply(clean).str.split().apply(stripclean)
df

                                     text  lbl
0                           MINIMART ANAN    0
1                 Chợ Sủi Phú Thị Gia Lâm    1
2                                    Ngày    2
3                               Tổng tiền    3
4                                            3
...                                   ...  ...
6576          CTY TNHH EB BINH DUONG EBBD    0
6577  P Đong Hoa TX Di An Tỉnh Bình Duong    1
6578                                         2
6579                            TONG CONG    3
6580                                         3

[6581 rows x 2 columns]

In [66]:
df = df[df['text']!='']
df

                                     text  lbl
0                           MINIMART ANAN    0
1                 Chợ Sủi Phú Thị Gia Lâm    1
2                                    Ngày    2
3                               Tổng tiền    3
5                             VinCommerce    0
...                                   ...  ...
6573                HỒNG TIẾN PHẢI T TOÁN    3
6575                          BIG C DI AN    0
6576          CTY TNHH EB BINH DUONG EBBD    0
6577  P Đong Hoa TX Di An Tỉnh Bình Duong    1
6579                            TONG CONG    3

[5515 rows x 2 columns]

In [68]:
df = df.drop_duplicates(subset=['text'])
df

                                     text  lbl
0                           MINIMART ANAN    0
1                 Chợ Sủi Phú Thị Gia Lâm    1
2                                    Ngày    2
3                               Tổng tiền    3
5                             VinCommerce    0
...                                   ...  ...
6541                                  VHa    0
6569                      VM QNH Trần phú    1
6575                          BIG C DI AN    0
6576          CTY TNHH EB BINH DUONG EBBD    0
6577  P Đong Hoa TX Di An Tỉnh Bình Duong    1

[794 rows x 2 columns]

In [69]:
df.to_csv('data-full-digit.csv',index=False)